.container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem;
  border-radius: 0.5rem;
  background-color: #434c6061;
  gap: 0.4rem;
  min-width: 20rem;
  justify-content: center;
  font-family: 'Cascadia Code';
  overflow: hidden;
  scroll-snap-align: center;
  transition: all 0.5s ease;
}

@media screen and (min-width: 880px) {
  .container:hover {
    min-width: 28rem;
  }
  .container:hover .image-container {
    width: 25rem;
  }
}

.image-container {
  width: 16rem;
  margin-bottom: auto;
  transition: all 0.5s ease;
}

.image-container * {
  width: 100%;
}

.title {
  font-size: 1.2rem;
}

.tech {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}
