.container {
  background-color: #282c346a;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  overflow: scroll;
  border-radius: 0.5rem;
  width: min-content;
  max-width: 100%;
  scroll-behavior: smooth;
  gap: 2rem;
  scroll-snap-type: x mandatory;
}
