.container {
  background-color: #282c346a;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  overflow: scroll;
  border-radius: 0.5rem;
  max-width: min-content;
  scroll-behavior: smooth;
  gap: 2rem;
  /* scroll-snap-type: x mandatory; */
}
